header {
    width: 100%;
    background-color: #2477b3;
    padding-bottom: 50px;
}

header .container {
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-size: 36px;
}

header nav{
    font-size: 20px;
}

section:nth-child(even) {
    
}

section:nth-child(odd) {
    background-color: #7f8b94;
    color: #fff;
}

section .row {
    height: 500px;
}

#photo {
    width: 15vw;
    height: 15vw;
}

#flexHead {
    display: flex;
    height: 100%;
}

.headEle {
    width: 500px;
    text-align: center;
}

.headEle p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.titleC {
    text-transform: uppercase;
}

footer {
    background-color: #45484a;
    padding: 50px;
}

#reFoot a{
    text-decoration: none;
    color: #fff;
}

#sociaLfoot {
    display: flex;
    width: 800px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#sociaLfoot div{
    margin-left: 10px;
    margin-right: 10px;
}

#sociaLfoot img{
    filter: invert(1);
}

#flexfoot {
    width: 800px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#flexfoot a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}





