/*header*/

header {
    width: 100%;
    background-color: #2477b3;
    padding-bottom: 50px;
}

header .container {
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-size: 36px;
}

header nav{
    font-size: 20px;
}

#photo {
    width: 15vw;
    height: 15vw;
}

#flexHead {
    display: flex;
    height: 100%;
}

.headEle {
    width: 500px;
    text-align: center;
}

.headEle p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.titleC {
    text-transform: uppercase;
}


/*sections*/


section:nth-child(even) {
    
}

section:nth-child(odd) {
    background-color: #7f8b94;
    color: #fff;
}

.Hrow {
    height: 500px;
}


/*formation*/

#formaTab {
    background-color: #7f8b94;
    border-radius: 15px;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.formalog {
    min-height: 200px;
}






















/*footer*/

footer {
    background-color: #45484a;
    padding: 50px;
}

#reFoot a{
    text-decoration: none;
    color: #fff;
}

#sociaLfoot {
    display: flex;
    width: 800px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#sociaLfoot div{
    margin-left: 10px;
    margin-right: 10px;
}

#sociaLfoot img{
    filter: invert(1);
    border-radius: 15px;
    padding: 5px;
}

#flexfoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#flexfoot a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
}

#reFoot a:hover{
    text-decoration: underline;
}

#flexfoot a:hover{
    background-color: #fff;
    color: #45484a;
    transition: 0.8s;
}

#reFoot img{
    filter: invert(1);
}


#sociaLfoot div:hover img{
    filter: invert(27%) sepia(6%) saturate(334%) hue-rotate(161deg) brightness(94%) contrast(91%);
    background-color: #fff;
    transition: 0.8s;
}




